body{
  text-align: center;
  color:#40514E;
  font-family: 'Merriweather', serif;
  
}

h1{ 
  color:#66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 65px;
  line-height: 2;
  
}
h2{
  color:#66BFBF;
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
}
h3{ color:#66BFBF;
   font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
a{
  color:#1199EE;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover{
  color: #EAF6F6;
}

.intro{
  width: 30%;
  margin: auto;
}

.top{
  padding-top: 100px;
  background-color: #E4F9F5;
  position: relative;
  
}
.middle-container{
  padding: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.cloud1
{
  position: absolute;
  margin-left: 200px;
}
.cloud2{
  position: relative;
  margin-right:700px;
}
  
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }
  span{
    text-decoration: underline;
  }
.html{
  width: 30%;
  float:left;
  margin-right:30px;
  margin-bottom: 10px;
}
.computer{
  width:30%;
  float: right;
  margin-left:30px;
}
.clear{
  clear: left;
}
.clear1{
  clear: right;
}
.contact-me{
  width:40%;
  margin:40px auto 60px;
}
  
.bmargin{
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.btn{
  
  
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ac);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ac);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ac);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ac);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ac);
    text-decoration: none;
  }

.copyright{
  color: #EAF6F6;
  font-size:0.75em;
  padding: 20px 0;
}
  
